@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4 welcome-text text-light">Welcome TubeYou</h1>
    <p class="text-light">Search for more video <a asp-area="" asp-controller="YouTube" asp-action="Index">Search</a>
</div>
<br>
</br>
<div class="text-center">
    <h2 class=" text-light">Recommended Video</h2>

    <iframe width=500" height="300" src="https://www.youtube.com/embed/aSde-gGK9NY"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

    <iframe width="500" height="300" src="https://www.youtube.com/embed/r4ThHPMhmXQ"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

    <br>
    </br>

    <iframe width="500" height="300" src="https://www.youtube.com/embed/lSD_L-xic9o"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

    <iframe width="500" height="300" src="https://www.youtube.com/embed/qooWnw5rEcI"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

</div>